<%- include('../includes/layout-start', {title: title}) %>
<%- include('../includes/menu') %>

<h1>Профиль</h1>
<div>
    <h5>Привет <%= username %>!</h5>
    <p>Личный кабинет находиться в разработке.</p>

    <a href="/api/user/logout" class="btn btn-danger">Выйти</a>
</div>


<%- include('../includes/layout-end') %>